*,
*::before,
*::after {
    box-sizing: border-box;
}

.container {
	width: 80%;
	align-self: center;
	text-align: center;
	margin-bottom: 4rem;
	margin-top: 4rem;
	padding: 2rem;

	background-color: #F2F2F2;
	border: 1px solid rgba(var(--b6a,219,219,219),1);
	border-radius: 15px;
}

.container.bg-margin {
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
}

.container.bg-padding {
	padding-left: 5rem;
	padding-right: 5rem;
}