.list {
    align-self: left;
    margin-top: 4rem;
    margin-left: 4rem;
    margin-right: 32rem;

}

.list-item {
    margin-bottom: 1rem;
    background-color: #080474;
    color: white;
    display:flex;
    justify-content:baseline;
    border-radius: 0.7rem;
    height: 2rem;
    
}

.list-text {
    padding-top: 1.5%; /* TODO is not centered */
    display: flex;
}

.list-span {
    margin-left: 1rem;
}

.icon {
    padding-bottom: 10px;
}