@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@600&display=swap');

h3 {
	font-family: 'IBM Plex Mono', monospace;
	align-self: center;
	color: #070464;
	text-transform: uppercase;
}

h5 {
	font-family: 'Roboto', sans-serif;
	white-space: pre-wrap;
	text-align: justify;
	color: #070464;
}

h6 {
	font-family: 'IBM Plex Mono', monospace;
	align-self: center;
	color: #070464;
	margin-top: 0.5rem;
}

body {
	background-color: rgba(var(--b3f,250,250,250),1);
}

.cardsGroup {
	padding-top: 3%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.buttonsGroup {
	padding-top: 3%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.align-center {
	align-self: center;
}

.md-spacing {
	margin-top: 3rem;
	margin-bottom: 3rem;
}