@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
	font-family: 'Poppins', sans-serif;
}

body {
	background-color: white;
}

.cardsGroup {
	padding-top: 3%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

h3 {
	font-family: 'Poppins', sans-serif;
}

p {
	white-space: pre-wrap;
	text-align: justify;
}

code {
	white-space: pre-wrap;
}